.testimonial {
    background-color: #eeeeee;
    height: 900px;
}

.testimonial-img img  {
    margin: -40px 0 0 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 60px;
    right: 23px;
    height: 164px;
    width: 175px;
  }